<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ember.js • Calendar</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

  <script type="text/x-handlebars" data-template-name="date">

  <section id="calendarapp">
    <header id="header">
      <h1>Calendar</h1>
      <ul id="current-day" {{action "goToday" on="doubleClick"}}>Today is {{getCurrentDate}} </ul>
    </header>

      <section id="main">
        <ul>
        <table id="little-table">
          <tr>
            <td class="little-table-td"><button id="navigation-button" {{action "decYear"}}><</button></td>
            <td class="little-table-td"><label>  {{getSelectedDay_year}}  </label></td>
            <td class="little-table-td"><button id="navigation-button" {{action "incYear"}}>></button></td>
          </tr>
          <tr>
            <td class="little-table-td"><button id="navigation-button" {{action "decMonth"}}><</button></td>
            <td class="little-table-td"><label>  {{getSelectedDay_month}}  </label></td>
            <td class="little-table-td"><button id="navigation-button" {{action "incMonth"}}>></button></td>
          </tr>
        </table>

        <table id="big-table">
          <thead>
            <th>№</th>
            <th>mon</th>
            <th>tue</th>    
            <th>wed</th>
            <th>thu</th>
            <th>fri</th>    
            <th>sat</th>    
            <th>sun</th>
          </thead>
          <tbody>
            {{#each week in fillTable}}             
              <tr>
                <td class='index-week'>{{week.index}}</td>
                {{#each day in week.dayIndex}}
                {{#if day.thismonth}}
                  {{#if day.checktoday}}
                    <td class='today' {{action 'goSelectedDate' day.index on="click"}}>{{day.index}}</td>
                  {{else}}
                    {{#if day.checkselday}}
                      <td class='selected-day' {{action 'goSelectedDate' day.index on="click"}}>{{day.index}}</td>
                    {{else}}
                      <td class='other-day' {{action 'goSelectedDate' day.index on="click"}}>{{day.index}}</td>
                    {{/if}}
                  {{/if}}
                {{else}}
                  <td class='other-month'>{{day.index}}</td>
                {{/if}}
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>

        </ul>
      </section>
  </section>

  <footer id="info">
    <p>&copy; Created by Kostyakov I.A.</p>
  </footer>
  
  </script>

    <script src="js/libs/jquery-1.10.2.js"></script>
    <script src="js/libs/handlebars-1.1.2.js"></script>
    <script src="js/libs/ember-1.6.1.js"></script>
    <script src="js/libs/ember-data.js"></script>
    <script src="js/libs/localstorage_adapter.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/calendar_controller.js"></script>
    <script src="js/data.js"></script> 
    <script src="js/router.js"></script> 


    <script src="js/models/date.js"></script> 

 


  </body>
</html>